---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: airflow-dbt-runner
  namespace: streaming-demo
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: airflow-dbt-pod-manager
  namespace: streaming-demo
rules:
- apiGroups: [""]
  resources: ["pods", "pods/log"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
- apiGroups: [""]
  resources: ["pods/exec"]
  verbs: ["create", "get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: airflow-dbt-pod-manager
  namespace: streaming-demo
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: airflow-dbt-pod-manager
subjects:
- kind: ServiceAccount
  name: airflow-scheduler
  namespace: airflow